 @charset "utf-8";
/* CSS Document */

*{
padding:0px;
margin:0px;
}
header, nav, article, footer, address, container, hgroup, figure {  
    display: block;  
}
#container {
width: 1348px;
height: 100%;
margin: 0px auto 0;
}
.about{
box-shadow:rgb(110,110,110) 2px 2px 2px 2px;
border-radius: 4px 4px 4px 4px;
position:relative;
top:10px;
left:300px;
width: 750px;
height:520px;
background:white;
padding:20px;
}
.about p{
margin-bottom:80px;
}
#footer {
background: url('images/background_footer.png') repeat-x;
border-top: 2px solid #fff;
width: 100%;
height: 80px;
text-align: left;
position:relative;
top:50px;
}